<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documents List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    .inline-list-item {
      display: inline-block;
    }
    ul.pagination {
      text-align: center;
    }
    ul.pagination li {
      display: inline-block;
      border-style: solid;
      border-width: 1px;
      border-color: rgb(223, 221, 221);
      padding: 2px 8px;
    }
    ul.pagination li.active {
      color: white;
      background-color: rgb(44, 146, 241);
    }
    ul.pagination a {
      color: rgb(44, 146, 241);
      text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <ul>
          {% for doc in documents %}
            <li>
              <a href="{{ doc.url }}">{{ doc.name }}</a>
              <p>{{ doc.description }}</p>
              <div>
                {% for tag in doc.tags.all %}
                  <a class="button" href="?tag={{ tag }}">{{ tag }}</a>
                {% endfor %}
              </div>
            </li>
          {% endfor %}
        </ul>

        {% if documents.has_other_pages %}
          <ul class="pagination">
            {% if documents.has_previous %}
              <li><a href="?page={{ documents.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in documents.paginator.page_range %}
              {% if documents.number == i %}
                <li class="active"><span>{{ i }}</span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if documents.has_next %}
              <li><a href="?page={{ documents.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</body>
</html>